//
// Variables for chuche lovers
// --------------------------------------------------


// Typography
// -------------------------
$sansFontFamily:        "indieFlower";

$baseFontSize:          15px !default;

$baseLineHeight:        20px !default;



// Accent colors -----------

$orange:                #f89406 !default;
// -----------
$principal-color:       $orange !default;


// Links
// -------------------------
$linkColor:             $principal-color !default;

