//
// Variables for chuche lovers
// --------------------------------------------------


// Links
// -------------------------
$linkColor:             $principalColor !default;


// Typography
// -------------------------
$sansFontFamily:        "indieFlower";

$baseFontSize:          15px !default;

$baseLineHeight:        20px !default;



// Accent colors -----------
$principalColor:       $orange !default;
