<article id="presentation">

  <img src="/assets/deface.jpg">
  <h1>
    deface and variables
  </h1>
  <p>
    Podrás crear un look&feel nuevo variando pocas lineas desde un único archivo. Borra, añade, substituye en un lugar u otro, todo es posible al lenguaje de programación Deface. Crea tu red social personalizada con las herramientas que te ofrece social stream.
  </p>

</article>